netbeans/ChatRoom-ear/build/
netbeans/ChatRoom-ear/nbproject/private/
netbeans/ChatRoom-ear/ChatRoom/build/
netbeans/ChatRoom-ear/ChatRoom/nbproject/private/
netbeans/ChatRoom-ear/ChatRoom-ejb/build/
netbeans/ChatRoom-ear/ChatRoom-ejb/nbproject/private/
